body {
    background-color: #111;
    background-image: url("img/windblown-500x.png");
    background-size: cover;
    background-attachment: fixed;
}
.page {
    width: 50%;
    max-width: 800px;
    min-width: 600px;
    margin-top: 0px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 26px;
    padding-bottom: 26px;
    padding-left: 34px;
    padding-right: 34px;
    background-color: #444;
    font-family: Book Antiqua;
    color: #ccc;
}
a:link, a:visited {
    color: #68f;
    text-decoration: none;
}
a:hover, a:active {
    color: #fff;
}

.pagehead {
    background-color: #80C0FF;
    background-color: #333;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}
.pagefoot {
    background-color: #80C0FF;
    background-color: #333;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}
.title {
    display: block;
    margin-top: 10px;
}
.date {
    display: block;
    font-style: italic;
}

.pagenav {
    background-color: transparent;
    padding-top: 0px;
    padding-bottom: 0px;
    display: flex;
    flex-direction: row;
}
.navitem {
    background-color: #234;
    padding: 20px;
    margin-right: 10px;
}
.navitem:first-of-type {
    margin-left: -34px;
}
.navitem:last-of-type {
    margin-right: -34px;
}
.navpadding {
    background-color: #345;
    flex: 1;
}

.pagefilter {
}

img {
    max-width:100%;
}
