.section {
  border-radius: 5px;
  background-color: #2f2f2f;
  padding: 20px;
  width: 40em;
  /*min-width: 50%;*/
  max-width: 100%;
  min-height: 30em;
}

input[type=text], textarea, select {
  /*width: 100%;*/
  background-color: #444;
  color: white;
  padding: 12px 20px;
  /*margin: 8px 0;*/
  /*display: inline-block;*/
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

textarea {
   font-family: inherit;
   font-size: inherit;
}

textarea {
    resize: vertical;
}

input[type=submit], input[type=button] {
  /*width: 100%;*/
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  /*margin: 8px 0;*/
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit].warning, input[type=button].warning {
  background-color: #AF504C;
}

input[type=submit]:hover, input[type=button]:hover {
  background-color: #45a049;
}

input[type=submit].warning:hover, input[type=button].warning:hover {
  background-color: #a04945;
}

.button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.container {
    display: flex;
    align-items: baseline;
    margin: 0.5em;
}

.container2 {
    display: flex;
    align-items: baseline;
    justify-content: center;
    margin: 0.5em;
}

.col1 {
    width: 5em;
}

.left {
    margin-right: 0.4em;
}

.middle {
    flex-grow: 1;
}

.right {
    margin-left: 0.4em;
}

.modules {
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
}

.modules>div {
    display: inline-block;
    margin: 1em;
}

#preview {
    font-family: Trebuchet MS;
}

#preview img {
    width: 100%;
}

.code {
    font-family: monospace;
    background-color: #222;
}